@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html {scroll-behavior: smooth;}

::selection {
    background-color: #461cdf;
    color: #E3E4E6;
}

::-webkit-scrollbar {
    width: 10px;
    height: 100%;
    background-color: #010208;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #461cdf;
    border-radius: 30px;
}

#particles-js {
    background-color: #010208;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}


/* --------------------------------------------------------------------------------------- */
/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: transparent;
    overflow: hidden;
}
header > a {margin-left: 80px;}
header > nav {margin-right: 80px;}

nav > ul {display: flex;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}
nav ul li:not(:last-child) {margin-right: 30px;}
nav ul li a {
    font-size: 14px;
    color: #E3E4E6;
    text-decoration: none;
    transition: all 0.3s;
}nav ul li a:hover {color: #BC3CD8;}
.active {color: #461cdf;}
header button {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

/* Header */
/* ----------------------------------------------------------------------------------------- */

/* Conteúdo Principal */

main {
    width: 100%;
    height: 100%;
    padding-left: 65px;
    padding-right: 65px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
main > .apresentation {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    position: relative;
}

.apresentation button {
    position: absolute;
    top: 0;
    font-size: 1.5rem;
    background-color: transparent;
    color: #2a20bd;
    border: none;
    cursor: pointer;
}

/* Scroll Down  ===== */
.apresentation img {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    transform: rotateZ(-40deg);
    animation: ScrollDown 1.3s alternate infinite ease-in-out;
}
@keyframes ScrollDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}
/* Scroll Down  ===== */

main > .apresentation p {color: #2a20bd;font-size: 3.2rem;text-align: center;}
main > .apresentation span {color: #ffffff;font-size: 3.5rem;text-align: center;}

#topButton {
    position: absolute;
    color: #2a20bd;
    bottom: 0;
    right: 0;
    margin-bottom: 30px;
    margin-right: 28px;
    font-size: 2.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    opacity: 0;
    z-index: 5;
    transition: all 0.3s;
}

footer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E3E4E6;
}

/* Media queries */

@media screen and (max-width: 670px){
    header nav {display: none;}
    header button {display: block;}
    header {justify-content: space-between;}
    header a {margin-left: 20px;}
    header button {margin-right: 30px;}
}
@media screen and (max-width: 466px) {
    main .apresentation p {font-size: 2.8rem;}
    main .apresentation span {font-size: 2.8rem;}
    main {padding-left: 35px;padding-right: 35px;}
}
@media screen and (max-width: 348px) {main {padding-left: 25px;padding-right: 25px;}}
@media screen and (max-width: 266px) {
    main .apresentation p {font-size: 2.1rem;}
    main .apresentation span {font-size: 2.1rem;}
}

/* Mobile Menu */

.MobileMenu {
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #070d1a;
    margin-top: -500vh;
    animation-duration: 1s;
    z-index: 99;
}
.MobileMenu nav ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.MobileMenu nav ul li a {font-size: 2.1rem;}
.MobileMenu nav ul button {
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: #E3E4E6;
    margin-right: 22px;
    cursor: pointer;
}

@keyframes OpenMenu {
    from {
        margin-top: -500vh;
        border-radius: 600%;
    }
    top {
        margin-top: 0vh;
        border-radius: 0%;
    }
}
@keyframes CloseMenu {
    from {
        margin-top: 0vh;
        border-radius: 0%;
    }
    top {
        margin-top: -500vh;
        border-radius: 600%;
    }
}
/* ---------- */

/* LIGHT */
#particles-js.LightMode{background-color:#E3E4E6}main.LightMode .apresentation p{color:#2a20bd}main.LightMode .apresentation span{color:#110b5f}main.LightMode p{color:#070d1a}main.LightMode .descriptionAbout span{color:#2a20bd}main.LightMode .descriptionAbout h3{color:#110b5f}main.LightMode .descriptionContainer button{color:#06051d;border:2px solid #010208}main.LightMode .workContainer .title span{color:#070d1a}header.LightMode nav ul li a{color:#2b13b1}header.LightMode nav ul li a:hover{color:#BC3CD8}footer.LightMode h5{color:#110b5f}
/* ------- */
