:root {
    --corDeFundoNav: #000015;
    --colorLetter: orange;
    --colorWhite: #fff;
}

img, .front, .back, .carta{border-radius: 15px;}

main {
    width: 100%;
    height: 100vh;
    background-image: url(../Home/images/6173960.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.containerSection {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.containerSection2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.carta {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerImage:hover .carta {transform: rotateY(180deg);}

.front {
    position: absolute;
    width: 100%;
    height: 80%;
    backface-visibility: hidden;
    box-shadow: 0 0 5px 2px #4e4e50;
}

.back {
    position: absolute;
    width: 100%;
    height: 80%;
    backface-visibility: hidden;
    background-color: var(--corDeFundoNav);
    color: var(--colorLetter);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.back button {
    padding: 15px 40px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background-color: var(--colorLetter);
    color: var(--corDeFundoNav);
    font-weight: 500;
    border-radius: 28px;
    transition: all 0.4s;
    cursor: pointer;
}
.back button:hover {
    background-color: rgb(24, 33, 71);
    color: var(--colorLetter);
}

.containerImage {
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

::-webkit-scrollbar {background-color: var(--corDeFundoNav);width: 10px;}
::-webkit-scrollbar-thumb {
    background-color: var(--colorLetter);
    border-radius: 50px;
}
.end {font-size: 1.5rem;color: var(--colorLetter);}


@media screen and (max-width: 680px){
    main {height: 100%;}
    .containerSection {
        flex-direction: column;
        height: 100vh;
    }
    .containerSection > .containerImage {
        width: 400px;
        height: 400px;
    }
    .containerSection2 {
        flex-direction: column;
        height: 100vh;
    }
    .containerSection2 > .containerImage {
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 680px) {
    .containerSection > .containerImage {
        width: 300px;
        height: 300px;
    }
    .containerSection2 > .containerImage {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 348px) {
    .containerSection > .containerImage {
        width: 250px;
        height: 250px;
    }
    .containerSection2 > .containerImage {
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 320px) {
    #log {font-size: 1.0rem;}
}
@media screen and (max-width: 206px) {
    .containerSection > .containerImage {
        width: 90%;
        height: 90%;
    }
    .containerSection2 > .containerImage {
        width: 90%;
        height: 90%;
    }
}