:root {
    --back-modal: #000015;
}


.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal {
    background-color: var(--back-modal);
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid orange;
    box-shadow: 0 0 0 10px #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.fechar {
    position: absolute;
    font-size: 1.2rem;
    top: -30px;
    right: -30px;
    border-radius: 50%;
    border:  4px solid white;
    width: 50px;
    height: 50px;
    font-weight: 600;
    background-color: rgb(211, 144, 21);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(107, 104, 104, 0.3);
}

.modal-container.open {
    display: flex;
}

@keyframes side {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0)
    }
    top {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.open .modal {animation: side 0.7s;}

#contact, #contactp {
    cursor: pointer;
}

.modal h3 {
    color: white;
    font-size: 1.5rem;
    margin-top: -20px;
    margin-bottom: 30px;
}

.sociais{display: flex;justify-content: space-around;width: 100%;}
.sociais a {text-decoration: none;}
.sociais button {
    font-size: 1.9rem;
    background-color: var(--back-modal);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}
.sociais button:hover {
    color: orange;
}

@media screen and (max-width: 348px){
    .modal {
        min-width: 0px;
    }
}